.list-sidebar{
	list-style-type: none;
    padding-left: 0;
    a{
    	color: $dark;
    }
}
.gallery{
	img{
		border: 1px solid $orange-dark;
		margin: 2% 1%;
	}
}
.title-sidebar{
	padding: 3% 0%;
	h4, h3{
		margin: 0;
	}
}