h1, h2, h3,h4, h5, h6{
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
	color: $orange;
}
.borde{
	border-right: 15px solid white;
	border-left: 15px solid white;
}
.btn-orange{
	background-color: $orange;
	display: block;
	padding: 2%;
	width: 20%;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	font-weight: bold;
	text-align: center;
	&:hover{
		text-decoration: none;
	}
}

.title-bg{
	background: $orange-light;
	.container{
		background: $orange;
		h2{
			color: white;
		}
	}
}