footer{
	margin-top: 2%;
	background-color: $orange-light;
	.container{
		padding-top: 2%;
		padding-bottom: 5%;
		color: white;
		background: $orange;
		h2{
			color: white;
			margin-bottom: 10%;
			text-transform: uppercase;
		}
		.single_footer{
			padding-right: 7.5%;
			.red-social{
				display: block;
				margin-top: 10%;
			}
		}
	}
}